<div class="navbar navbar-inverse navbar-fixed-top scrollclass" id="menu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://demo.cssmoban.com/cssthemes4/btts_53_bs-transparent/index.html#"><img
                    src="/images/logo180-50.png" alt="" style="max-height:40px"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="http://demo.cssmoban.com/cssthemes4/btts_53_bs-transparent/index.html#home">HOME</a>
                </li>
                <li class=""><a
                        href="http://demo.cssmoban.com/cssthemes4/btts_53_bs-transparent/index.html#about">ABOUT</a>
                </li>
                </li>
            </ul>
        </div>

    </div>
</div>
